@charset "utf-8";
/* CSS Document */

		*{
			padding: 0;
			margin: 0;
			box-sizing: border-box;
		 }
		
		body
		{
			background-image: url(fundo.png);
			background-repeat: no-repeat;
			background-size: cover;
			
		}
		ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #455a64;
}

li {
    float: left;
}

li a {
	font-famyly:Myriad Pro;
    display: block;
    color: #00bcd4;
	
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #455a64;
	color:#FFFFFF;
}
	.linhas
	{
		padding:10px;
		
	}
	

table {
	
 font-famyly:Myriad Pro;
  border-collapse: collapse;
  width: 50em;
  border: 1px solid #666;
  margin-left:50px;
  margin-top:150px;
  position:fixed;
}
thead {
  background: #455ffa64;
  border-top: 1px solid #a5a5a5;
  border-bottom: 1px solid #a5a5a5;
}
td:hover {
  background-color:#00bcd4;
  color: #fff;
}
thead tr:hover {
  background-color: transparent;
  color:inherit;
}
tr:nth-child(even) {
    background-color: #edf5ff;
}
th {
  font-weight: normal;
  text-align: left;
}
th, td {
  padding: 0.1em 1em;
}
a.button {
	font-famyly:Myriad Pro;
	top:150px;
	margin:50px;
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    text-decoration: none;
    color: initial;
}

